/* the body */
#body {
    background-color: white;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    text-align: center;
}

/* the main div of everything */
#main_div {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* the title box at the top */
#header {
    text-align: center;
    border-bottom-style: solid;
    text-align: center;
    border-bottom-style: solid;
}

/* the "form" (ie all the boxes + related text) */
form {
    color: black;
}

/* the individual input boxes of the form */
input {
    background-color: white;
}

/* the "Delete Selected Tabs" button */
#btn-delete {
    background: white;
    border: black solid;
}

/* "Save Table" button */
#submit {
    background: white;
    color: black;
}

/* for the error message */
.error {
    color: red;
}

/* the entire table */
#col_table {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 300px;
}

/* background of tab */
.ui-tabs .ui-tabs-nav {
    background: white;
}

/* Text of saved tabs */
#col_table .ui-tabs-nav a {
    background-color: white;
    color: black;
}

/* background behind tab's background, behind the checkbox */
.ui-tabs .ui-tabs-nav li {
    background-color: white;
    border: black solid;
}

/* Text of current selected tab */
#col_table .ui-state-active a {
    color: black;
}

/* side tabs */
#col_table .ui-state-active #main_a {
    color: black;
}

/* main tab */
.ui-tabs .ui-tabs-nav #main_a {
    font-weight: bold;
    color: black;
    background-color: white;
}

/* the table itself */
table {
    margin: 50px auto;
    color: black;
    width: 100%;
}

/* the top row */
thead>tr>th:not(th:nth-child(1)) {
    background-color: gray;
    padding: 3px;
    text-align: center;
    border: solid black;

    /* Top row is fixed */
    position: sticky;
    top: 0;
}

/* the left column */
tbody>tr>th {
    background-color: gray;
    padding: 3px;
    text-align: center;
    border: solid black;

    /* Left column is fixed */
    position: sticky;
    left: 0;
}

/* the lines inside the table's body */
tbody>tr>td {
    border: solid black;
}

/* the even rows (2nd, 4th, 6th, etc.) */
tr:nth-child(even) {
    background-color: white;
}

/* background slider */
.background-slider {
    margin: 2px 0px 0px 42px;
}

/* slider rectangle background */
#min_Col_Slider,
#max_Col_Slider,
#min_Row_Slider,
#max_Row_Slider {
    width: 179px;
    height: 20px;
    border: black solid;
    background: white no-repeat;
}

/* slider button box */
#min_Col_Slider .ui-slider-handle,
#max_Col_Slider .ui-slider-handle,
#min_Row_Slider .ui-slider-handle,
#max_Row_Slider .ui-slider-handle {
    width: 14px;
    height: 20px;
    top: 0px;
    background: black no-repeat;
}